In [32]:
# count distinct element frequency
import pandas as pd
import os 

filename='caida_0.dat'
filepath="..\\dataset\\"
src_data=os.path.join(filepath,filename)

num_line=0
count=0
itemdict={}

with open(src_data, 'rb') as file:
    while True:
        line=str(file.read(13))
        if len(line)<13:
            break
        else:
            num_line+=1
            if line not in itemdict:
                itemdict[line]=1
            else:
                itemdict[line]+=1

df=pd.DataFrame(list(itemdict.items()),columns=['Element', 'Count'])
df=df.reset_index(drop=True)
df=df.sort_values('Count',ascending=False)

print("Distinct element: {}".format(len(itemdict)))
print("Number of incomming element: {}".format(num_line))
print(df.head(20))

df.to_csv("..\\Caida0\\caida_0_ground_truth.csv",index=False)

Distinct element: 177335
Number of incomming element: 2472727
                                                  Element  Count
58            b'\xd2\x1d9\xfa\x00P\x0f\x13I\x9a\xf89\x06'  16889
274        b'E.\x1c)\xa4\xb2\x89\xb6\x06\xba\xd2\xad\x06'  11647
706                 b'V+x\xe8\x00Po\xcd\xe4\xde\xccw\x06'  10113
6877       b'\xb7\xf6h\xd0\xc1\x8b+\xfc\xe1\x08\x00P\x06'   8993
1227         b'\x01l|\xff\x8f\r\x01l\xc5\xc8\x01\xbb\x06'   8418
102824           b'\x99\xc1\xe9Z\x00P+\xfc\xe0=\xe7%\x06'   6594
31291   b'c\x0f\xb2\xd4\x80\xd2\x01`\x8d\x12\x01\xbb\x06'   6244
1161       b'\x01l|\xec\xcc\x1b\x01l\xc5\xc8\x01\xbb\x06'   5420
2965          b'E\x0c\xd5\xf7\xd7(\xdd.\xdc\xec\x00P\x06'   5194
1662       b'E\x0c\xd5\xf5\xa4\x14\xdd.\xdc\xec\x00P\x06'   5044
2050       b'\x01l$\xce\x0e\xad\x01l\xc5\xc6\x01\xbb\x06'   4444
1036       b'\xdd\x01b\xdf\xd5\xce\xdd.\xdc\xf1\x00P\x06'   4246
11380         b'~.~\x13\xa5\xb3+\xfc\xe2\x05\x01\xbb\x06'   4081
242       b'\r\xe1\x94\xb7\xc2>\x01`\xdf\x92\x01\xbb\x06'   4081
1355    b'\xcf\x88\xee\xa0\x17\x01\x01`\xa6\xcc\x01\xb...   4054
7749             b'\x800\xeeP <\x01`\xa6\xc7\x01\xbb\x06'   3972
1075    b'\x05\x06\x1b\xd0\xcb\xa4h\xef\x88\xf3\x1f\x9...   3767
589              b'\x82+!!\xa5s\x01`\x92\xe5\x01\xbb\x06'   3639
8870       b'E\x0c\xd5\xf4\xb9\xf6\xdd.\xdc\xf0\x00P\x06'   3588
19183               b'ur=\xf2\xc1@+\xfc\xe2\x06\x00P\x06'   3584

In [1]:
import pandas as pd
import os
path="..\\Caida0\\"
groundtruth='caida_0_ground_truth.csv'
grtruth=pd.read_csv(os.path.join(path,groundtruth))
y=grtruth.groupby(by='Count')
z=pd.DataFrame(columns=['Freq','Number'])
z['Freq']=y.size().index.tolist()
z['Number']=y.size().values.tolist()            
z

      Freq  Number
0        1   57963
1        2   25835
2        3   17985
3        4   12341
4        5    9441
..     ...     ...
957   8418       1
958   8993       1
959  10113       1
960  11647       1
961  16889       1

[962 rows x 2 columns]