In [15]:

import numpy as np
import spookyhash
import mmh3
import os
import pandas as pd
import time
import operator
import hyperloglog
import sys

# ==========================data structure==========================
class Node():
    def __init__(self,count=0):
        self.count=count
    def add_count(self,count=1):
        self.count+=count
    def __str__(self):
        return 'count: {}'.format(self.count)
    def __repr__(self):
        return ''

class Head(Node):
    def __init__(self,count=1):
        super().__init__(count)
        self.distinct = hyperloglog.HyperLogLog(0.01)
        self.maxID=''
    def __str__(self):
        return '[total count: {}, distinct: {}, max: {}]'.format(self.count,len(self.distinct),self.maxID)
    def __repr__(self):
        return '[total count: {}, distinct: {}, max: {}]'.format(self.count,len(self.distinct),self.maxID)

class Tail(Node):
    def __init__(self,ID,count):
        self.ID = ID
        super().__init__(count)
    def __str__(self):
        return '[ID: {}, count: {}]'.format(self.ID,self.count)
    def __repr__(self):
        return '[ID: {}, count: {}]'.format(self.ID,self.count)

# ==========================UpdateSk==========================
def UpdateSk(element,Sk_head,Sk):
    e_max=get_emax()
    width,depth=get_width_depth()
    col,row=position(element)
        # col / row index of element 
    avg=0
    #print("{} send to Sk[{}][{}]".format(element,row,col))
    # ==========================update sketch==========================
    Sk_head[row].count+=element.count
    Sk_head[row].distinct.add(element.ID)
    Sk[row][col]+=1

    Update_local_max(Sk_head[row],Sk[row],element,col)
    Update_emax(Sk_head,Sk)

'''
    print("e_max:{}".format(e_max))
    for i in range(len(Sk)):
        print("Sk[{}]:{},{}".format(i,Sk_head[i],Sk[i]))
    print('')
'''


# ==========================update local max==========================       
def Update_local_max(head_item,element_list,element,column):
    # local max need only 1 row
    #print("In Update_local_max:")
    width,depth=get_width_depth()
    if head_item.maxID=='':
        head_item.maxID=element.ID
    else:
        # local_max_col=(mmh3.hash(head_item.maxID,signed=False))% ((width*numerator)//denominator)
        local_max_col=(mmh3.hash(head_item.maxID,signed=False))% width
        if element_list[local_max_col]<element_list[column]:
            head_item.maxID=element.ID


# ==========================update e_max==========================
def Update_emax(head,sketch):
    # pass whole array
    #print("In Update_emax:")
    e_max=get_emax()
    width,depth=get_width_depth()
    for i in range(len(head)):
        if head[i].maxID=='':
            continue
        else:
            local_max_col,local_max_row=position(Tail(head[i].maxID,0))
            if sketch[local_max_row][local_max_col]>e_max.count:
                e_max.ID=head[i].maxID
                e_max.count=sketch[local_max_row][local_max_col]

# ========================== BringBack=========================
def BringBack(e_min,head,sketch):
    # bring e_max back to Top
    # e_min=e_max, e_max=Null, delete e_max.count in Sketch, send e_min into Sketch
    e_max=get_emax()
    temp=Tail(e_min.ID,e_min.count)
    e_min.ID=e_max.ID
    e_min.count=e_max.count
    DeleteSk(e_max,head,sketch)
    UpdateSk(temp,head,sketch)

# ==========================DeleteSk=========================
def DeleteSk(element,head,sketch):
    # e_max in sketch: sketch[r][c]=0, total count-=sketch[row][col]
    width,depth=get_width_depth()
    col,row=position(element)
    head[row].count-=e_max.count
        # total_count-=element.count
    sketch[row][col]=0
    head[row].maxID=''
    element.ID=""
    element.count=0
# ==========================Tools=========================    
def get_emax():
    return e_max
def get_width_depth():
    return width,depth

def find(e,element_list):
    # return index of e in element_list
    try:
        index=[ele.ID for ele in element_list].index(e.ID)
    except:
        index=-99
    return index

def position(element):
    width,depth=get_width_depth()
    hash1=spookyhash.hash32(bytes(str(element.ID),encoding='utf-8'))
        # input: byte
        # output:unsigned- 32 bit int
    hash2=mmh3.hash(element.ID, signed=False)
        # input: str
        # output: unsigned- 32 bit int
    col=hash2 % width
    row=hash1 % depth
    return col,row 
    
# ==========================main=========================    

filename='kosarak.dat'
filepath="..\\dataset\\"
src_data=os.path.join(filepath,filename)
depth=2
width=256
size=1024

start=time.time()

Sk_head=[Head(0) for j in range(depth)]
Sketch=np.zeros((depth,width),dtype='int32')
e_max=Tail('',0)
Top=[]

item_count=100
income=0
with open(src_data,'r') as file:
    while True:
        e=file.readline().strip('\n')
        if not e:
            break
        else:
            #item_count-=1
            #income+=1
            #print("read {}-th element:{}".format(income,e))
            item=Tail(e,1)            
            index=find(item,Top)
            if index<0:
                if len(Top)<size:
                    Top.append(item)
                else:
                    UpdateSk(item,Sk_head,Sketch)
            else:
                Top[index].count+=1                
                if index==0 or Top[index].count< Top[index-1].count:
                    pass
                else:
                    Top.sort(key=operator.attrgetter('count'),reverse=True)                
        if e_max.count>Top[-1].count:
            BringBack(Top[-1],Sk_head,Sketch)
            Top.sort(key=operator.attrgetter('count'),reverse=True)
            #print('Top after BringBack: \n\t{}'.format(Top)) 

end=time.time()
print("Top-{},Sketch:{}*{}".format(size,depth,width))
print("Execution time:{:8.3f} seconds.".format(end-start))
print("Total memory {} bytes=".format(sys.getsizeof(Top)+Sketch.nbytes+sys.getsizeof(Sk_head[0])*depth),end='')
print("Top:{} bytes, Sketch:{} bytes, Sketch_head:{} bytes.".format(sys.getsizeof(Top),Sketch.nbytes,sys.getsizeof(Sk_head[0])*depth))

'''
print("TOP[20]:\n{}".format(Top[:20]))
print("e_max:{}".format(e_max))
for i in range(len(Sketch)):
    print("Sk[{}]:{},{}".format(i,Sk_head[i],Sketch[i]))
print('')

'''

templi=[[i.ID,i.count] for i in Top]
df=pd.DataFrame(templi,columns=['ID', 'Count'])
path='..\\result\\kosarak\\'
name="My_kosarak"+'_'+str(size)+'_'+str(depth)+'_'+str(width)
df.to_csv(path+name+".csv",index=False)


#====================result compare=============================
groundtruth='kosarak_ground_truth.csv'
final=name+".csv"

# ====================precision, ARE, AAE====================
grtruth=pd.read_csv(os.path.join(path,groundtruth))
    # compare with Top-k and groundtruth[k]
My_result=pd.read_csv(os.path.join(path,final))

# precision
gt_set=set(grtruth['Element'][:size])
    # Top-size of ground truth
my_set=set(My_result['ID'])
precision=len(gt_set & my_set)/len(my_set)
    # &: set 交集運算
print("Precision: {:8.4f}".format(precision))
        
# ARE/AAE
gt_dict=dict(grtruth.values.tolist())
my_dict=dict(My_result.values.tolist())
distinct=len(gt_dict)
    # cardinality of all incoming elements

top_are_error=0
top_aae_error=0
all_are_error=0
all_aae_error=0
tp=0
fp=0


# In this dataset, ground_truth > 0

for item in gt_dict:
    if item in my_dict:
        # ARE and AAE of Top
        top_are_error+=abs(my_dict[item]-gt_dict[item])/gt_dict[item]
        top_aae_error+=abs(my_dict[item]-gt_dict[item])
        all_are_error+=abs(my_dict[item]-gt_dict[item])/gt_dict[item]
        all_aae_error+=abs(my_dict[item]-gt_dict[item])
        if my_dict[item]==gt_dict[item]:
            tp+=1
        else:
            fp+=1
    else:
        # ARE/AAE of Sketch
        item_col,item_row=position(Tail(item,1))
        all_are_error+=abs(Sketch[item_row][item_col]-gt_dict[item])/gt_dict[item]
        all_aae_error+=abs(Sketch[item_row][item_col]-gt_dict[item])  
        '''
        if Sketch[item_row][item_col]==0:
            all_are_error+=gt_dict[item]
            all_aae_error+=gt_dict[item]
        else:
            all_are_error+=abs(Sketch[item_row][item_col]-gt_dict[item])/gt_dict[item]
            all_aae_error+=abs(Sketch[item_row][item_col]-gt_dict[item])        
        '''


top_ARE=top_are_error/size
top_AAE=top_aae_error/size
all_ARE=all_are_error/distinct
all_AAE=all_aae_error/distinct
print("Find:{}, TP:{}, FP:{}".format(len(gt_set & my_set),tp,fp))
print("top_ARE: {:8.6f}".format(top_ARE))
print("top_AAE: {:8.6f}".format(top_AAE))
print("all_ARE: {:8.6f}".format(all_ARE))
print("all_AAE: {:8.6f}".format(all_AAE))

Top-1024,Sketch:2*256
Execution time: 202.561 seconds.
Total memory 11184 bytes=Top:9024 bytes, Sketch:2048 bytes, Sketch_head:112 bytes.
Precision:   0.5957
Find:610, TP:65, FP:959
top_ARE: 0.436811
top_AAE: 24.568359
all_ARE: 0.915724
all_AAE: 24.156463

In [25]:
My_result[:512]

             ID  Count
0             3  36133
1             6  30225
2           6 3  21139
3          11 6  12769
4             1   9766
5        11 6 3   9083
6           1 3   6002
7            11   5374
8           1 6   5046
9             4   4290
10         11 3   3756
11           55   3561
12        1 6 3   3510
13          4 3   3000
14         55 3   2377
15       11 1 6   2375
16          4 6   2338
17        4 6 3   1758
18     11 1 6 3   1753
19         6 55   1749
20          294   1653
21            2   1601
22       6 55 3   1375
23          490   1225
24           27   1168
25        294 3   1162
26          2 3   1152
27            7   1100
28          218   1056
29       11 4 6    954
..          ...    ...
482       801 6     65
483   11 1 6 64     65
484    1 6 3 77     65
485       3 205     64
486       295 6     64
487      1177 3     64
488      1059 6     64
489      1581 6     64
490       2 294     64
491       288 3     63
492      1777 6     63
493    11 6 504     63
494       487 3     63
495  6 55 294 3     63
496     6 378 3     63
497      3764 3     63
498         916     62
499      2324 6     62
500         499     62
501      1779 3     62
502       217 6     62
503      4035 3     62
504    11 5 6 3     62
505       922 6     62
506         644     62
507     6 993 3     62
508       922 3     61
509       621 6     61
510      2324 3     61
511       3 677     61

[512 rows x 2 columns]

In [24]:
grtruth[:512]

          Element  Count
0               3  36133
1               6  30225
2             6 3  21139
3            11 6  12769
4               1   9766
5          11 6 3   9083
6             1 3   6002
7              11   5374
8             1 6   5046
9               4   4290
10           11 3   3756
11             55   3561
12          1 6 3   3510
13            4 3   3000
14           55 3   2377
15         11 1 6   2375
16            4 6   2340
17          4 6 3   1758
18       11 1 6 3   1753
19           6 55   1749
20            294   1653
21              2   1601
22         6 55 3   1374
23            490   1225
24             27   1167
25          294 3   1161
26            2 3   1152
27              7   1100
28            218   1055
29         11 4 6    954
..            ...    ...
482      11 314 6     69
483         251 3     69
484        1596 3     69
485         607 3     69
486          4 64     68
487        1599 3     68
488         295 3     68
489         11 91     68
490         488 3     68
491         509 3     68
492         246 1     68
493         922 3     68
494        2344 6     67
495       4 490 3     67
496        218 55     67
497        1 3 77     67
498  11 1 6 294 3     67
499         27 55     67
500        1056 3     67
501        3001 3     67
502        1581 3     66
503         293 3     66
504          54 3     66
505       4 218 3     66
506        1105 3     66
507     1 6 138 3     66
508        3003 3     66
509          4 73     66
510        1637 3     66
511        11 4 1     66

[512 rows x 2 columns]

In [ ]:
""