In [2]:
import os
import pandas as pd
path='X:\\NTU\\ML-sketch\\dataset\\Webpage\\webdocs'
groundtruth='webdocs_ground_truth.csv'
df=pd.read_csv(os.path.join(path,groundtruth))

df.head(20)

                                              Element  Count
0                                               14525  11744
1   6 8 22 49 76 81 122 126 140 146 147 149 150 16...   2158
2                                 1003 1699 2055 9941   1742
3   8 24 60 124 146 157 171 172 220 260 395 419 42...   1063
4   60 84 119 122 124 146 157 168 171 220 258 290 ...    783
5   1 8 14 22 31 49 55 66 72 83 84 86 90 92 121 12...    658
6   1 8 14 22 49 81 88 122 140 158 220 255 310 312...    546
7   8 21 49 84 149 206 219 220 280 366 393 444 563...    403
8   49 87 206 274 308 339 389 506 516 523 524 595 ...    376
9   85 149 150 158 258 398 432 998 1114 2220 2558 ...    375
10  1 6 8 13 20 21 22 40 42 49 51 54 58 60 76 81 8...    304
11  1 6 8 9 18 20 22 30 31 38 40 42 48 49 51 60 66...    281
12  8 9 18 20 22 24 38 40 42 43 48 49 51 54 60 76 ...    273
13  1 5 6 8 9 14 20 22 38 40 43 44 49 51 60 76 81 ...    271
14  8 116 122 158 220 238 294 312 506 511 513 520 ...    252
15  8 49 55 60 66 122 126 138 146 150 158 171 220 ...    252
16  1 6 8 31 51 60 81 85 102 122 123 147 158 220 2...    251
17  6 8 122 146 158 165 214 220 274 308 312 405 40...    251
18  8 49 51 60 122 124 142 158 220 312 339 361 379...    251
19  6 8 22 49 51 72 121 122 124 138 158 168 177 22...    250

In [2]:
import pandas as pd
import os
filename='webdocs.dat'

#filepath=r"X:\\NTU\\ML-sketch\\dataset\\Webpage\\webdocs\\"
filepath=r"C:\\Users\\Pero\\Downloads\\"
src_data=os.path.join(filepath,filename)
groundtruth='webdocs_ground_truth.csv'

filelist=os.path.list


itemdict=dict()
with open(src_data,'r') as file:
        while True:
            e=file.readline().split()
            for item in e:
                if item not in itemdict:
                    itemdict[item]=1
                else:
                    itemdict[item]+=1
df=pd.DataFrame(itemdict)
print(len(itemset))
df

KeyboardInterrupt:

In [ ]:
df