In [19]:
import pandas as pd
import os

filename='compare.csv'
df=pd.read_csv(filename)
df

,Unnamed: 0,method,TOP-k,Sketch_depth,Sketch_width,Memory_Top,Memory_Sketch,Executio_ time,Find,Precision_Top,ARE(Top),AAE(Top),ARE(All),AAE(All)
0,0,my,512,64.0,128.0,4272,36352.0,2526.641,476,0.9297,0.007799,56.042969,0.998298,16.329951
1,1,my,512,128.0,128.0,4272,72704.0,2565.310,480,0.9375,0.008000,58.736328,0.997914,16.291819
2,2,ss,512,NaN,NaN,4272,NaN,3229.676,223,0.4355,0.233021,6988.691406,NaN,NaN
3,3,ss,1024,NaN,NaN,9024,NaN,5715.104,558,0.5449,0.212992,3063.655273,NaN,NaN
4,4,my,1024,64.0,256.0,9024,69120.0,3628.754,973,0.9375,0.007428,53.041016,0.942952,16.233282
5,5,my,512,64.0,256.0,4272,69120.0,1378.518,480,0.9375,0.006947,49.123047,0.998075,16.302923
6,6,my,512,128.0,256.0,4272,138240.0,1348.195,480,0.9375,0.008139,57.773438,0.984290,16.271579
7,7,my,512,256.0,256.0,4272,265728.0,1346.885,480,0.9375,0.007428,53.041016,0.942952,16.233282
8,8,my,1024,64.0,128.0,9024,36352.0,4538.414,979,0.9561,0.006980,28.702148,0.995927,12.662208
9,9,my,1024,128.0,256.0,9024,134656.0,2289.037,980,0.9570,0.006781,27.036133,0.982993,12.623822
10,10,my,1024,256.0,256.0,9024,265728.0,2756.481,977,0.9541,0.005870,23.957031,0.941947,12.581352

In [17]:
import matplotlib.pyplot as plt

,method,TOP-k,Sketch_depth,Sketch_width,Memory_Top,Memory_Sketch,Executio_ time,Find,Precision_Top,ARE(Top),AAE(Top),ARE(All),AAE(All)
0,my,512,64.0,128.0,4272,36352.0,2526.641,476,0.9297,0.007799,56.042969,0.998298,16.329951
1,my,512,128.0,128.0,4272,72704.0,2565.310,480,0.9375,0.008000,58.736328,0.997914,16.291819
2,ss,512,NaN,NaN,4272,NaN,3229.676,223,0.4355,0.233021,6988.691406,NaN,NaN
3,ss,1024,NaN,NaN,9024,NaN,5715.104,558,0.5449,0.212992,3063.655273,NaN,NaN
4,my,1024,64.0,256.0,9024,69120.0,3628.754,973,0.9375,0.007428,53.041016,0.942952,16.233282
5,my,512,64.0,256.0,4272,69120.0,1378.518,480,0.9375,0.006947,49.123047,0.998075,16.302923
6,my,512,128.0,256.0,4272,138240.0,1348.195,480,0.9375,0.008139,57.773438,0.984290,16.271579
7,my,512,256.0,256.0,4272,265728.0,1346.885,480,0.9375,0.007428,53.041016,0.942952,16.233282
8,my,1024,64.0,128.0,9024,36352.0,4538.414,979,0.9561,0.006980,28.702148,0.995927,12.662208
9,my,1024,128.0,256.0,9024,134656.0,2289.037,980,0.9570,0.006781,27.036133,0.982993,12.623822
10,my,1024,256.0,256.0,9024,265728.0,2756.481,977,0.9541,0.005870,23.957031,0.941947,12.581352